table {
	width: 60%;
	margin: 20px auto;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #f4f4f4;
}

tr:nth-child(even) {
	background-color: #eaeaea;
}
