html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', cursive;
    background-color: #ffccff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #ff6699; 
    text-shadow: 2px 2px 4px #ff99cc;
}

