@font-face {
	font-family: 'Nasalization';
	src: url('../src/nasalization-rg.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Nasalization', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: url('../src/milky-way-1.jpeg') no-repeat center center fixed;
	background-size: cover;
	animation: backgroundTransition 5s infinite alternate;
}

h1,
h2,
p {
	color: #ffffff;
	text-align: center;
}

@keyframes backgroundTransition {
	0% {
		background-image: url('../src/milky-way-1.jpeg');
	}
	100% {
		background-image: url('../src/milky-way-2.jpg');
	}
}

.animation {
	animation-duration: 3s;
	animation-name: zoomIn;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes zoomIn {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

img {
	animation: zoomIn 3s ease-in-out;
}
